.AboutHeader{
    margin: 20px 0px;
}

.AboutHeader h1{
    text-align: center;
    font-size: 19px;
    color: #2FB74D;
}

.AboutTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutTile p{
    width: 250px;
}

.AboutTile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}

.AboutTile1{
    margin: 50px 0px;
}

.AboutTile2{
    display: none;
}

.ChooseUs{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChooseUs h1{
    color: #2FB74D;
    margin: 20px 0px;
}

.ChooseUsTile{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 250px;
}

.ChooseUsTile h2{
    font-size: 24px;
}

.ChooseUsTile p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.ChooseUsTile-ImgContainer{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 200px;
    box-shadow: 1px 1px 6px 1px rgb(129, 129, 129);

}

.ChooseUsTile-ImgContainer img{
    width: 75%;
    height: 75%;
}

.blackfilter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b6e;
}

.ChooseUsImage{
    display: none;
}

.MeetTheTeam h1{
    text-align: center;
    margin: 20px 0px;
}

.MeetTheTeamContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}

.MeetTheTeamTile{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 260px;
    height: 260px;
}

.MeetTheTeamTile h1{
    z-index: 1;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 28px;
}

.MeetTheTeamTile p{
    z-index: 1;
    text-align: center;
    color: #2FB74D;
    font-weight: 500;
}

.MeetTheTeam-Image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
}

@media all and (min-width: 350px) {
    .ChooseUsTile{
        width: 320px;
    }
    .AboutTile img{
        width: 300px;
        height: 300px;
    }

    .AboutTile p{
        width: 300px;
        font-size: 17px;
    }
}

@media all and (min-width: 500px) {
    .ChooseUsTile{
        width: 400px;
    }

    .AboutTile img{
        width: 450px;
        height: 450px;
    }

    .AboutTile p{
        width: 450px;
    }

    .AboutTile h1{
        font-size: 32px;
    }
}

@media all and (min-width: 700px) {
    .AboutTile p{
        font-size: 18px;
    }
}

@media all and (min-width: 1000px) {
    .MeetTheTeamContainer{
        justify-content: space-evenly;
        margin: 60px 0px;
    }

    .MeetTheTeamTile{
        width: 320px;
        height: 400px;
    }

    .ChooseUsImage{
        display: block;
        position: absolute;
        top: 50%;
        width: 180px;
    }

    .ChooseUs{
        position: relative;
        padding: 60px 0px;
    }

    .ChooseUsContainer{
        padding: 0px 20px;
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .AboutTile1{
        display: none;
    }

    .AboutTile2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 100px 0px 50px 0px;
    }

    .AboutTile2 h1{
        text-align: left;
    }
}

@media all and (min-width: 1200px){
    .ChooseUsContainer{
        width: 1200px;
    }
}

@media all and (min-width: 1300px) {
    .ChooseUsImage{
        width: 220px;
    }

    .ChooseUsTile-ImgContainer{
        width: 180px;
        height: 180px;
    }

    .ChooseUsTile h2{
        font-size: 32px;
    }

    .ChooseUsTile p{
        font-size: 20px;
    }

    .AboutTile img{
        width: 600px;
        height: 450px;
    }

    .AboutTile p{
        width: 600px;
        font-size: 22px;
    }

    .AboutTile h1{
        font-size: 38px;
    }

    .AboutTile2{
        width: 100%;
        justify-content: space-evenly;
    }
}

@media all and (min-width: 1500px){
    .MeetTheTeamContainer{
        justify-content: space-evenly;
        margin: 80px 0px;
    }

    .MeetTheTeamTile{
        width: 375px;
        height: 531px;
    }
}