/** NAVIGATION STYLES **/
.Navigation a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.Navigation{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 6px 1px rgb(155, 155, 155);
    z-index: 5;
    background-color: white;
    transition: .15s;
    transition-delay: .15s;
}

#nav-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon-line{
    padding: .5px;
    border: solid;
    border-width: thin;
    width: 25px;
    margin-bottom: 8px;
    border-radius: 10px;
    color: #2FB74D;
    background-color: #2FB74D;
}

.icon-line:last-child{
    margin: 0px;
}

#quotebutton{
    display: none;
    border: solid;
    border-width: thin;
    background-color: transparent;
    border-radius: 400px;
    padding: 5px 50px;
    border-color: #2FB74D;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: .2s;
    color: black;
}

#quotebutton:hover{
    color: white;
    background-color: #2FB74D;
}

.desktop-nav{
    display: none;
    width: 50%;
}

.mobile-nav{
    position: absolute;
    top: -1500px;
    left: 0;
    width: 100%;
    height: 1500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    transition: .5s;
    z-index: 6;
}

.mobile-nav a{
    color: rgb(49, 49, 49);
    font-weight: 300;
    transition: .2s;
}

a{
    margin-bottom: 20px;
}

.closenavcontainer{
    width: 100%;
    color: #2FB74D;
    padding-left: 10px;
    font-size: 40px;
}

.active-link{
    border-bottom: solid 2px #2FB74D;
    padding-bottom: 4px;
}

.active-link a{
    font-weight: 400;
    color: black;
}

.desktop-nav a{
    transition: .3s;
}

.desktop-nav a:hover{
    color: #2FB74D;
}

@media all and (min-width: 500px){
    #navicon{
        width: 100px;
    }

    #phoneicon{
        width: 45px;
    }

    .icon-line{
        padding: 1px;
        width: 30px
    }

    .Navigation{
        padding: 20px 10px;
    }

    .Hero{
        margin-top: 80px;
    }
}

@media all and (min-width: 800px) {
    #navicon-container{
        flex: 1;
        padding-left: 50px;
    }

    #phoneicon{
        display: none;
    }

    #quotebutton{
        display: block;
    }
}

@media all and (min-width: 1100px) {
    .desktop-nav{
        display: flex;
        flex: 2;
    }

    a{
        margin: 0px 20px;
        list-style-type: none;
    }

    .desktop-nav a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }

    #nav-icon{
        display: none;
        flex: 1;
    }

    #navicon-container{
        padding: 0px;
    }
}

@media all and (min-width: 1200px){
    .desktop-nav a{
        font-size: 18px;
    }
}

@media all and (min-width: 1400px){
    a{
        margin: 0px 30px;
        list-style-type: none;
    }

    .desktop-nav a{
        text-decoration: none;
        color: rgb(51, 51, 51);
        font-size: 20px;
    }
}

